<html>
<head>
    <title>threejs - models</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <script src="../static/js/libs/face-api.min.js"></script>

    <video id="video" width="720" height="560" autoplay muted></video>
    <canvas id="canvas" width="720" height="560"></canvas>

    <div id="modelName" hidden>vuzix2</div>
<!--    <div id="modelName" hidden>glassesBranchesBent</div>-->

    <script src="../static/js/libs/three.js"></script>
    <script src="../static/js/libs/GLTFLoader.js"></script>
    <script src="../static/js/keyboard.js"></script>
    <script src="../static/js/glasses.js"></script>



</body>
</html>
